@page "/Commands"
@inject HttpClient Http

<h1>Commands</h1>

<div class="mb-4">
     <button class="btn btn-success" @onclick="@PostCommand">New Commands</button>
</div>

<EditForm Model="@commandPost" OnVaildSubmit="@PostCommand">

     <table class="table">
          <thead class="thead-dark">
               <tr>
                    <th>Title</th>
                    <th>Command</th>
                    <th>ConsoleType</th>
                    <th>Action</th>
               </tr>
          </thead>

          <tbody>
               
                    <tr>
                         <td><input type="text" name="Title" value="" /></td>
                         <td><input type="text" name="Command" value="" /></td>
                         <td><input type="text" name="ConsoleType" value="" /></td>
                         <td><button class="btn btn-success">Create</button></td>
                    </tr>

          </tbody>

     </table>

</EditForm>

<table class="table">
     <thead class="thead-dark">
          <tr>
               <th>Title</th>
               <th>Command</th>
               <th>ConsoleType</th>
               <th>Action</th>
          </tr>
     </thead>

     <tbody>
          @foreach (var item in _commandsList)
          {
               <tr>
                    <td>@item.Title</td>
                    <td>@item.Command</td>
                    <td>@item.ConsoleType</td>
                    <td><button class="btn btn-success">Edit</button></td>
               </tr>

          }
     </tbody>
     
</table>

@code
{
     Commands commandPost = new Commands();
     public static string togglePost = "none";

     List<_Command> _commandsList = new List<_Command>();

     protected override async Task OnInitializedAsync()
     {
          _commandsList = await Http.GetJsonAsync<List<_Command>>("https://localhost:5001/api/v1/Commands");
          _commandsList = _commandsList.OrderByDescending(comd => comd.ConsoleType).ToList();
     }

     public partial class _Command
     {
          public int Id { get; set; }
          public string Title { get; set; }
          public string Command { get; set; }
          public string ConsoleType { get; set; }
     }

     private async Task PostCommand()
     {


          await Http.SendJsonAsync(HttpMethod.Post, "/api/Customer", new _Command
          {

          });
     }
}