@page "/Problems"
@inject HttpClient Http

<h1 class="alert-light">Problems</h1>

<div class="mb-4">
     <button class="btn btn-success" @onclick="@GetProblems">Show Problems</button>
     <button class="btn btn-success">New Problems</button>
</div>

<form id="commandPost" action="/PostCommand" method="post" style="display:block;">

     <table class="table">
          <thead class="thead-dark">
               <tr>
                    <th>Title</th>
                    <th>Command</th>
                    <th>ConsoleType</th>
                    <th>Action</th>
               </tr>
          </thead>

          <tbody>

               <tr>
                    <td><input type="text" name="Title" value="" /></td>
                    <td><input type="text" name="Command" value="" /></td>
                    <td><input type="text" name="ConsoleType" value="" /></td>
                    <td><button class="btn btn-success">Create</button></td>
               </tr>

          </tbody>

     </table>

</form>


<table class="table">
     <thead class="thead-dark">
          <tr>
               <th>Id</th>
               <th>Title</th>
               <th>Solution</th>
               <th>Link</th>
               <th>Details</th>
          </tr>
     </thead>

     <tbody>
          @foreach (var item in @_Problems)
          {
          <tr>
               <td>@item.Id</td>
               <td>@item.Title</td>
               @*@{item.Solution != string.IsNullOrWhiteSpace } //Add if else statement for Solution class = "bg-success"*@
               <td>@item.Solution</td>
               <td>@item.SolutionLink</td>
               <td>@item.Details</td>
          </tr>

          }
     </tbody>

</table>

@code
{
     List<_Problem> _Problems = new List<_Problem>();

     private async Task GetProblems()
     {
          _Problems = await Http.GetJsonAsync<List<_Problem>>("https://localhost:5001/api/v1/Problems");
     }

     public partial class _Problem
     {
          public int Id { get; set; }
          public string Title { get; set; }
          public string Solution { get; set; }
          public string SolutionLink { get; set; }
          public string Details { get; set; }
     }
     
     
}