@page "/Resources"
@inject HttpClient Http

<h1>Resources</h1>

<div class="mb-4">
     <button class="btn btn-success" @onclick="@GetResources">Show Resources</button>
     <button class="btn btn-success">New Resources</button>
</div>

<form id="commandPost" action="/PostCommand" method="post" style="display:block;">

     <table class="table">
          <thead class="thead-dark">
               <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Link</th>
                    <th>Langues</th>
                    <th>Action</th>
               </tr>
          </thead>

          <tbody>

               <tr>
                    <td><input type="text" name="Title" value="" /></td>
                    <td><input type="text" name="Description" value="" /></td>
                    <td><input type="text" name="Link" value="" /></td>
                    <td><input type="text" name="Langues" value="" /></td>
                    <td><button class="btn btn-success">Create</button></td>
               </tr>

          </tbody>

     </table>

</form>

<table class="table">
     <thead class="thead-dark">
          <tr>
               <th>Id</th>
               <th>Title</th>
               <th>Description</th>
               <th>Link</th>
               <th>Langues</th>
          </tr>
     </thead>

     <tbody>
          @foreach (var item in @_Resources)
          {
               <tr>
                    <td>@item.Id</td>
                    <td>@item.Title</td>
                    <td>@item.Description</td>
                    <td>@item.Link</td>
                    <td>@item.Langues</td>
               </tr>

          }
     </tbody>

</table>

@code
{
     List<_Resource> _Resources = new List<_Resource>();

     private async Task GetResources()
     {
          _Resources = await Http.GetJsonAsync<List<_Resource>>("http://developmentutilities.eastasia.azurecontainer.io/api/v1/Resources");
     }

     public partial class _Resource
     {
          public int Id { get; set; }
          public string Title { get; set; }
          public string Description { get; set; }
          public string Link { get; set; }
          public string Langues { get; set; }
     }
}